  <div class="table-row row">
    <span class="col-sm-1">{{category.itemIndex + 1 }}</span>
    <span class="col-sm-2">{{category.categoryItem.productFor}}</span>
    <span class="col-sm-2">{{category.categoryItem.productType}}</span>
    <span class="col-sm-3">{{category.categoryItem.description}}</span>
    <span class="col-sm-2">
      <button class="btn btn-primary" type="button" (click)="updateClicked()">Update</button>
    </span>
    <span class="col-sm-2">
      <button class="btn btn-danger" type="button" (click)="deleteClicked()">Delete</button>
    </span>
  </div>


  <div *ngIf="showUpdate" class="row">
    <app-category-insert-update class="col-sm-6" [category]="category.categoryItem" (saveButtonClicked)="saveClicked($event)" (cancelButtonClicked)="cancelClicked($event)"></app-category-insert-update>
  </div>
  