.top_row {
    display: table;
    width: 100%;
}

.top_row > div {
    display: table-cell;
    width: 50%;
    border-bottom: 1px solid #eee;
}
.customtd {
    display: block;}
.tdwidth {
    width: 25%;
}
