<div class="commonPageWrap">
    <div class="wrapper">
        <div class="wrapInner">
            <h1 class="titleCommon">REGISTRATION SUCCESS</h1>
            <div class="registrationSuccessWrap">
              <p>Great News</p>
              <p>You are on board :)</p>
              <nav class="registrationSUccessPage">
                <ul>
                  <li><a [routerLink]="['/myaccount']">My Account <i class="fa fa-user-o"></i></a></li>
                  <li><a [routerLink]="['/']">Start Shopping <i class="fa fa-arrow-circle-right"></i></a></li>
                  <li><a [routerLink]="['/cart']">View BAG <i class="fa fa-shopping-bag"></i></a></li>
                  <li><a [routerLink]="['/wishlist']">View Wish List <i class="fa fa-heart-o"></i></a></li>
                </ul>
              </nav>
            </div>
        </div>
    </div>
</div>