<div class="orderDetailsWrapOuter">
  <div class="orderDetailsWrap">
    <div class="orderDetailsAddressWrap clearfix">
     <div class="row">
      <div class="InvoiceTab col-sm-4 text-left">
        <h2>User Details</h2>
        <p> Full Name: <strong>{{user.userInfo.fullName}}</strong></p>
        <p>Phone Number : <strong>{{user.userInfo.phoneNumber}}</strong></p>
        <p>Email : <strong>{{user.userInfo.email}}</strong></p>
      </div>
      <div class="odrDtlsBillingAddress col-sm-4">
        <h2>Billing Address</h2>
        <div>
          {{billingAddress?.addressLines}}<br> {{billingAddress?.city}}
          <br> {{billingAddress?.state}}
          <br> {{billingAddress?.pinCode}}
          <br> {{billingAddress?.country}}
        </div>
      </div>
      <div class="odrDtlsDeliveryAddress col-sm-4">
        <h2>Delivery Address</h2>
        <div>
          {{shippingAddress?.addressLines}}<br> {{shippingAddress?.city}}
          <br> {{shippingAddress?.state}}
          <br> {{shippingAddress?.pinCode}}
          <br> {{shippingAddress?.country}}
        </div>
      </div>
    </div>
     <button class="btn btn-danger" type="button" (click)="cancelClicked()">Close</button>
    </div>
  </div>
</div>