<div [@routerTransition]>
    <app-page-header [heading]="'Categories'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12">
            <div class="card mb-3">
                <div class="card-header">
                    Add New Category
                </div>
                <div class="card-block table-responsive">
                <button _ngcontent-c9="" class="btn btn-success" type="button" (click)="addClicked()">Add</button>
                <div *ngIf="showAdd">
                <app-category-insert-update (saveButtonClicked)="saveClicked($event)"  (cancelButtonClicked)="cancelClicked($event)"></app-category-insert-update>
                </div>
                </div>
                <div class="card-header">
                    Available Categories
                </div>
                <div class="card-block table-responsive">
                    <div class="table">
                        <div class="table-caption row">
                                <span class="col-sm-1">#</span>
                                <span class="col-sm-2">Product For</span>
                                <span class="col-sm-2">Product Type</span>
                                <span class="col-sm-3">Description</span>
                                <span class="col-sm-2">Update</span>
                                <span class="col-sm-2">Delete</span>
                            </div> 
                        
                            <div *ngFor="let category of categories; let i=index" [app-categoryitem]="{'categoryItem': category, 'itemIndex': i}" (deletedItem)="itemDeleted($event)">
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>